{% extends "base.html" %}


{% block body%}
<section id="our-blog" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center wow zoomIn">
                    <div class="page-title">
                        <h2>Featured Articles</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequuntur officia delectus ex hic nobis maxime. Quasi incidunt blanditiis rem molestiae aut excepturi. Voluptatibus dolor, molestias nostrum ullam ratione odit.</p>
                    </div>
                </div>
            </div>           
            <div class="row">
                <div class="col-md-12">
                    <div class="article-list wow zoomIn">
                        <div class="single-article">
                            <div class="article-header">
                                <a href="">comic</a>
                            </div>
                            
                            <div class="article-title">
                                <h2><a href="">A million ways to die in the wild wild wild west</a></h2>
                            </div>
                            
                            <div class="article-footer">
                                <img src="img/author_1.jpg" alt="" class="author-thumb">
                                <p><a href="">jimmy jefferson</a><br/>21/08/2013</p>
                            </div>
                        </div>
                        <div class="single-article">
                            <div class="article-header">
                                <a href="">comic</a>
                            </div>
                            
                            <div class="article-title">
                                <h2><a href="">The most comfortable chair comes with no backpain</a></h2>
                            </div>
                            
                            <div class="article-footer">
                                <img src="img/author_2.jpg" alt="" class="author-thumb">
                                <p><a href="">Gail Gutierrez</a><br/>21/08/2013</p>
                            </div>
                        </div>
                        <div class="single-article">
                            <div class="article-header">
                                <a href="">comic</a>
                            </div>
                            
                            <div class="article-title">
                                <h2><a href="">journey to the center of the earth with jefferson </a></h2>
                            </div>
                            
                            <div class="article-footer">
                                <img src="img/author_3.jpg" alt="" class="author-thumb">
                                <p><a href="">mason johnston</a><br/>21/08/2013</p>
                            </div>
                        </div>
                        <div class="single-article">
                            <div class="article-header">
                                <a href="">comic</a>
                            </div>
                            
                            <div class="article-title">
                                <h2><a href="">A million ways to die in the wild wild wild west</a></h2>
                            </div>
                            
                            <div class="article-footer">
                                <img src="img/author_1.jpg" alt="" class="author-thumb">
                                <p><a href="">jimmy jefferson</a><br/>21/08/2013</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End our blog -->
{% endblock %}