{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>{{ page_title }}</title>
{% endblock %}

{% block body%}
<section id="slider">
        <div data-velocity="-.2" class="overlay-bg slide-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slide-text-table">
                        <div class="slide-text-table-cell">
                            <div class="slide-text wow fadeIn">
                                <h1>Hard for Feature</h1>
                                <p>The  minute you think of giving up,Think of the reason why you hold on so  long. woke  your trouble dreams,lift  head ,stay fuck out of my way for anything.</p>   
                                <a href="" class="learn-more">go way</a>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}